<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="C:\Users\Administrator\AppData\Local\Programs\Python\Python314\python.exe|C:\Users\Administrator\AppData\Local\Programs\Python\Python314\Lib\site-packages\wfastcgi.py"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>
  </system.webServer>
  
  <appSettings>
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot" />
    
    <add key="WSGI_HANDLER" value="app.app" />
  </appSettings>
</configuration>